.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}

.heading_div{
    float: none;
    background: white;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 5px grey;
}

.heading_div2{
    font-size: 10px;
}

.result_para_tag{
    box-shadow: 5px 5px 5px grey;
    font-size: 20px;
}

.copy_right_footer{
    float: none;
    position: fixed;
    color: white;
    background: lightgrey;
    text-align: center;
    bottom: 0;
    width: 100%;
    line-height: 3;
}

canvas{
    border: 5px grey;
    border-radius: 20px;
    box-shadow: 5px 5px 5px orange;
    margin-top: 350px;

}

body{
    background-repeat: no-repeat;
    background-size: cover;
}